{% extends 'base.html' %}

{% block title %}Изменение пароля{% endblock title %}

{% load static %}
{% block content %}
<div class="password-change">
  <h1>Изменить пароль</h1>
  <p>Пожалуйста, для безопасности введите свой старый пароль, а затем дважды введите новый пароль, чтобы мы могли проверить, правильно ли вы его ввели.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Изменить пароль">
  </form>
  </div>
{% endblock content %}