{% extends 'base.html' %}

{% block content %}
    <section class="tm-section">
        {% with comments.count as total_comments %}
            <h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
        {% endwith %}
        {% for comment in comments %}
            <div class='comment'>
                <p class='info'>
                    {{ comment.name }}
                    {{ comment.created }}:
                </p>
            {{ comment.body|linebreaks }}
            </div>
        {% empty %}
            <p>There are no comments</p>
        {% endfor %}
        <h2>Add new comment</h2>
            <form method='post'>
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type='submit' value='Add comment'></p>
            </form>
            <form action="textarea1.php" method="post">
                <p><b>Введите ваш отзыв:</b></p>
                <p><textarea rows="10" cols="45" name="text"></textarea></p>
                <p><input type="submit" value="Отправить"></p>
            </form>
    </section>

{% endblock %}

